/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* --------------------------------------------------------------------------------------------------------------------------- */
body {
    font-family: 'Zilla Slab', serif;
    
}
#content {
    background-color: rgba(33, 28, 23, 0.935) ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, auto);
    gap: 50px;

    
}

.books {
    background-color:  rgba(47, 35, 19, 0.627);
    display: flex;
    justify-content: center;
    margin: 2vw;
    height: 500px;    
    background-size: 10%;
}



table {
    width: 100%;
}

tbody {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;


}
tr {
    background-color: rgba(53, 41, 19, 0.597);
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    gap: 50px;

    align-items: center;
}
th {

    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;

}

#titleRow {
background-color: rgba(79, 56, 33, 0.603);
}
th, td {
    padding: 10px;
    text-align: center;
}

#topContainer {
    background-image: url('marko-blazevic-S7mAngnWV1A-unsplash.jpg');
    background-size: 110%;
    background-position: center;
}


form {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5vh;
    column-gap: 5vh;
}

label {
    align-content: space-around;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

input {
    background-color: #000000;
    border-color: black;
    color: white;
}

label[for='read']{
    display: flex;
    
    justify-content: center;
    align-items: center;
    grid-column: 2;
}
#read {

}
#submit {
    display: flex;
    justify-content: center;
    grid-row: 3;
    grid-column: 2;
}

button[type='submit'] {
    border: none;
    justify-content: center;
    width: 8vw;
    background-color: #86c6e5;
    color: white;
}

#removebtn {
    width: 4vh;
    height: 4vh;
    font-size: 2vh;
    border-radius: 100%;
    background-color: #0284c7  ;
    color: #000000  ;
    border: none;
}